<h1>Usuarios</h1>
</br>
<a href="/usuarios/nuevo">Crear Usuario</a>
<br>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre }}</td>
                
                <td>
                    <a href="/usuarios/{{ usuario.id }}">Ver</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No hay usuarios</td>
            </tr>
        {% endfor %}
    </tbody>
</table>